/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 27, 2026, 7:57:36 PM
    Author     : Personal
*/
*{
    background-color: black;
    color: white;
    font-family: Abadi, Arial, comic-sans;
}
